<html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Crafty pottery</title>
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.base.css" />
    <link rel="stylesheet" href="../static/assets/vendors/select2/select2.min.css" />
    <link rel="stylesheet" href="../static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/css/style.css" />
    <link rel="shortcut icon" href="../static/assets/images/favicon.png" />
	<style>
	.custom-sidebar {
    background-color: #FF9933;
}
	</style>
  </head>
  <body>
    <div class="container-scroller">
     <nav class="sidebar sidebar-offcanvas custom-sidebar" id="sidebar">
    <div class="text-center sidebar-brand-wrapper d-flex align-items-center">
     
    </div>
    <ul class="nav">
      
      <li class="nav-item">
        <a class="nav-link" href="/view_post">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view_post">
          <i class="mdi mdi-contacts menu-icon"></i>
          <span class="menu-title">Products</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/orders">
          <i class="mdi mdi-contacts menu-icon"></i>
          <span class="menu-title">My order</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/requests2">
          <i class="mdi mdi-contacts menu-icon"></i>
          <span class="menu-title">My Request</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
           <i class="mdi mdi-contacts menu-icon"></i>
          <span class="menu-title">Logout</span>
        </a>
      </li>
     
  </nav>
      <div class="container-fluid page-body-wrapper">
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border mr-3"></div> Default
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border mr-3"></div> Dark
          </div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles light"></div>
            <div class="tiles dark"></div>
          </div>
        </div>
        <nav class="navbar col-lg-12 col-12 p-lg-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper d-flex align-items-stretch justify-content-between">
            <a class="navbar-brand brand-logo-mini align-self-center d-lg-none" href="../../index.html"><img src="../../assets/images/logo-mini.svg" alt="logo" /></a>
            <button class="navbar-toggler navbar-toggler align-self-center mr-2" type="button" data-toggle="minimize">
              <i class="mdi mdi-menu"></i>
            </button>
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
               
                <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="notificationDropdown">
                  <h6 class="p-3 mb-0">Notifications</h6>
                  
                  
                  
                 
              </li>
              <li class="nav-item dropdown d-none d-sm-flex">
                
                <div class="dropdown-menu navbar-dropdown navbar-dropdown-large preview-list" aria-labelledby="messageDropdown">
                  <h6 class="p-3 mb-0">Messages</h6>
                  
                  
                 
                  <h6 class="p-3 mb-0">See all activity</h6>
                </div>
              </li>
              <li class="nav-item nav-search border-0 ml-1 ml-md-3 ml-lg-5 d-none d-md-flex">
                <form class="nav-link form-inline mt-2 mt-md-0">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                      </span>
                    </div>
                  </div>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right ml-lg-auto">
              
              <li class="nav-item nav-profile dropdown border-0">
                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown">
                  <img class="nav-profile-img mr-2" alt="" src="../static/assets/images/faces/face1.jpg" />
                  <span class="profile-name">Welcome</span>
                </a>
                <div class="dropdown-menu navbar-dropdown w-100" aria-labelledby="profileDropdown">
                  
                  <a class="dropdown-item" href="#">
                    <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-menu"></span>
            </button>
          </div>
        </nav>
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title">Customer</h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page"> Customer </li>
                </ol>
              </nav>
            </div>
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card mx-auto">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Welcome</h4><div>&nbsp;</div>
                   
                    <form class="forms-sample" name="form1" method="post">
                     
					  <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Amount you have pay</label>
                        <input type="text" class="form-control" id="exampleInputConfirmPassword1" name="total" value="{{ total }}" />
                      </div>
					  <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Payment</label>
                        <select class="form-control" id="exampleInputConfirmPassword1" name="payment">
						<option value="UPI">UPI</option>
						<option value="COD">COD</option>
						</select>
                      </div>
					  <div class="form-group">
                        <label for="exampleInputConfirmPassword1">UPI ID</label>
                        <input type="text" class="form-control" id="exampleInputConfirmPassword1" name="upi" />
                      </div>
                      
                      <button type="submit" class="btn btn-primary mr-2"> Submit </button><div>&nbsp;</div>
					  
					  
					  {% if msg=="success" %}
                    <span style="color:#009933">Booking success...</span>
                    
					<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/view_post';
}, 4000);
</script>{% endif %}
                    {% if msg=="fail" %}
                    <span style="color:#ff0000">Try again</span>
                    {% endif %}
                     
                    </form>
                  </div>
                </div>
              </div>
              
              
              
              
              

              
              
              
              
              
            </div>
          </div>
         
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <script src="../static/assets/vendors/select2/select2.min.js"></script>
    <script src="../static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <script src="../static/assets/js/off-canvas.js"></script>
    <script src="../static/assets/js/hoverable-collapse.js"></script>
    <script src="../static/assets/js/misc.js"></script>
    <script src="../static/assets/js/file-upload.js"></script>
    <script src="../static/assets/js/typeahead.js"></script>
    <script src="../static/assets/js/select2.js"></script>
  </body>
</html>